MyGit/MyGit.v11.suo
MyGit/bin/Debug/MyGit.exe
MyGit/bin/Debug/MyGit.pdb
MyGit/bin/Debug/MyGit.vshost.exe
MyGit/bin/Debug/MyGit.vshost.exe.manifest
MyGit/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MyGit/obj/Debug/MyGit.csproj.FileListAbsolute.txt
MyGit/obj/Debug/MyGit.csprojResolveAssemblyReference.cache
MyGit/obj/Debug/MyGit.exe
MyGit/obj/Debug/MyGit.pdb
